<h2>Reset Your Password</h2>

<p>Hi there,</p>
<p>
  It seems like you want to reset your PawTalk account password. If this was
  you, please click the link below to reset your password:
</p>

<p>
  <a
    href="{{ .ConfirmationURL }}"
    style="
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    "
    >Reset Password</a
  >
</p>

<p>
  If you did not request a password reset, you can safely ignore this email.
</p>

<p>Thanks,<br />The PawTalk Team</p>
